<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h3>
        <u>
            Capstone Project
        </u>
    </h3>
    <ul>
        <li><a href="lol_match_history">League of Legends Match History</a></li>
        <li><a href="steam">Owned Steam Games Data</a></li>
        <li><a href="fortnite">Fortnite Account Stats</a></li>
        <li><a href="xbl">Xbox Live Account Stats</a></li>
    </ul>
</body>
</html>