<!-- This file does not include any ChatGPT code. This code is original and of my own design.
     -Abner Garcia II
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='riot_styles.css')}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
</head>
<body>
        <form action="{{ url_for('get_riot_data') }}" method="POST">
            <div class="logo">
                <h1>League Account Info</h1>
            </div>
            <div class="nametext">
                <br>Game Name<br>
            </div>
            <div class="namefield">
                <input type = "text" name = "gamename" /><br>
            </div>
            <div class="tagtext">
                <br>Tag Line<br>
            </div>
            <div class="tagfield">  
                <input type = "text" name = "tagline" /><br>
            </div>
            <div class="regtext"> 
                <br>Region<br>
            </div>
            <div class="regfield">
                <input type = "text" name = "region" /><br>
            </div>
            <div class="subbutton">
                <br><br><a href=lol_match_history><input type = "submit" value="Enter"></a>
            </div>
        </form>
        <div class="msg">
            <br><p>{{ msg }}</p>
        </div>
</body>
</html>