<!-- PLEASE READ THIS: Some of this code was taken from ChatGPT. We will make a note of this at the end of the demonstration of this website.
 We just thought it would be better to tell the professor directly that some of the code being used here is from ChatGPT that has been
 modified to work within the context of our capstone project. We are here by giving credit to ChatGPT for assisting us in this code and
 would it be disclaimed here rather than it being discovered in a code plagarism checker/ChatGPT code checker. Thank you for reading this
 and we hope that this message and citation toward ChatGPT can be accepted for a full grade. Please note we didn't simply copy and paste
 ChatGPT code, we used it to guide us towards the right direction to create these web pages. This is only the came for the HTML and CSS files.
 Every other type of file is of our own code and design. Thank you.-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Xbox Live Lookup</title>
  </head>
  <body>
    <form action="{{ url_for('get_xbl_data') }}" method="POST">
      <h1>Xbox Live Account Info</h1>
      Gamertag:<br />
      <input type="text" name='gtag' /><br />

      <br /><input type="submit" value="Enter" />
    </form>

    <h2>
      Account Details
    </h2>
    <br>

    <div class="content">
      <h3>
        {{ 'Gamertag: ' + profiles['gamertag']}}
      </h3>

      <h3>
        {{ 'Unique Modern Gamertag: ' + profiles['unique_modern_gamertag']}}
      </h3>

      <h3>
        {{ 'Gamerscore: ' + profiles['gamerscore']}}
      </h3>

      <h3>
        {{ 'Followers: ' + profiles['follower_count']}}
      </h3>

      <h3>
        {{ 'Following: ' + profiles['following_count']}}
      </h3>

      <h3>
        {{ 'Has Game Pass: ' + profiles['has_game_pass']}}
      </h3>

    </div>
  </body>
</html>
