<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steam</title>
</head>
<body>
    <h1>
        Xbox Live Profile Stats
    </h1>
    <br/>
    {% for profile in profiles %}
    <div class='profile'>
            <h3>
                {{ profile['gamertag'] }}, {{ profile['unique_modern_gamertag'] }}, {{ profile['gamerscore'] }}, {{ profile['follower_count'] }}, {{profile['following_count'] }}, {{ profile['has_game_pass'] }}
            </h3>
            <br>
        </div>
    {% endfor %}
</body>
</html>